In [52]:
import pandas as pd
df = pd.read_csv("C:\\Users\\ICTA NOC\\PycharmProjects\\Tutorial\\datSC\\weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [53]:
df.shape

(6, 4)

In [54]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [55]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [56]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [57]:
df.event # df event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [58]:
type(df['event'])

pandas.core.series.Series

In [15]:
df[['event','day','temperature']]

   event       day  temperature
0   Rain  1/1/2017           32
1  Sunny  1/2/2017           35
2   Snow  1/3/2017           28
3   Snow  1/4/2017           24
4   Rain  1/5/2017           32
5  Sunny  1/6/2017           31

In [16]:
df['temperature'].max() # find maximum

35

In [17]:
df['temperature'].mean() # find mean

30.333333333333332

In [18]:
df['temperature'].min() #find minimum

24

In [19]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [21]:
df[df.temperature>=32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [28]:
df[df.temperature==df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [29]:
df[['day','temperature']][df.temperature==df['temperature'].max()]

        day  temperature
1  1/2/2017           35

In [30]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [31]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [45]:
df.set_index('day', inplace=True)

KeyError: "None of ['day'] are in the columns"

In [46]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [47]:
df.loc['1/3/2017']

temperature      28
windspeed         2
event          Snow
Name: 1/3/2017, dtype: object

In [48]:
df.reset_index(inplace=True)

In [49]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [50]:
df.set_index('event', inplace=True)

In [51]:
df.loc['Snow']

            day  temperature  windspeed
event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7